services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: booksdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"

  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: rabbitpass
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.7.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"     # доступ из Docker-сети
      - "29092:29092"   # доступ с хоста (например, из Visual Studio)
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # Два listener-а: один для Docker (PLAINTEXT), другой для внешних клиентов (OUTSIDE)
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,OUTSIDE://0.0.0.0:29092

      # Как Kafka "рекламирует" себя клиентам
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,OUTSIDE://localhost:29092

      # Сопоставление listener-имен с протоколами
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,OUTSIDE:PLAINTEXT

      # Для общения между брокерами (т.к. у нас один — не критично)
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      # Репликация топиков (1 брокер — минимально 1)
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    # Чтобы гарантировать, что Kafka дождется готовности ZooKeeper
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9092"]
      interval: 10s
      timeout: 5s
      retries: 10


  api:
    build:
      context: ..
      dockerfile: ./Main/Dockerfile
    container_name: api_service
    depends_on:
      - db
      - redis
      - mongo
      - rabbitmq
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__Default: "Host=db;Database=booksdb;Username=appuser;Password=apppassword"
    ports:
      - "8080:8080"
    restart: always

  worker:
    build:
      context: ..
      dockerfile: ./OrderWorkerService.cs/Dockerfile
    container_name: order_worker
    depends_on:
      - rabbitmq
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
    restart: always

  apigateway:
    build:
      context: ..
      dockerfile: ./ApiGateway/Dockerfile
    container_name: apigateway
    depends_on:
      - api
      - worker
    ports:
      - "5000:8080"
    networks:
      - default

  kafkaconsumerworker:
    build:
      context: ..
      dockerfile: ./KafkaConsumerWorker/Dockerfile
    container_name: kafkaconsumerworker
    depends_on:
      - kafka
      - zookeeper
    networks:
      - default

  zipkin:
    image: openzipkin/zipkin:latest
    container_name: zipkin
    restart: unless-stopped
    ports:
      - "9411:9411"
    environment:
      - STORAGE_TYPE=mem
    networks:
        - default

  prometheus:
    build:
      context: ../Docker  # в этой папке лежит Dockerfile и prometheus.yml
      dockerfile: Dockerfile.prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    networks:
      - default

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - default

volumes:
  pgdata:
  mongodata:
  rabbitmq_data:
