apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: bookservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: gateway:local
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: gateway-config
            - secretRef:
                name: gateway-secret
          ports:
            - name: http
              containerPort: 8080
          resources:
            limits:
              cpu: "300m"
              memory: "256Mi"
            requests:
              cpu: "100m"
              memory: "128Mi"